server:
  port: 8080

spring:
  profiles:
    active: local   # application-local.yml을 읽도록 지정

  datasource:
    url: jdbc:postgresql://localhost:5432/easygo_db
    username: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.security.oauth2: TRACE
    org.springframework.security.oauth2.client: TRACE
    org.springframework.security.oauth2.core: TRACE
